[Unit]
Description=Doorbell Telgram Adapter
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/doorbell-pi/main.py > /home/pi/doorbell-pi/doorbell.log  2>&1
Restart=always

[Install]
WantedBy=multi-user.target